src/main/app/proyecto-11.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<http:request-config name="HTTP_Request_Configuration" host="personales.upv.es" port="80" doc:name="HTTP Request Configuration"/>
	<flow name="proyecto-11Flow">
		<poll doc:name="Copy_of_Poll">
			<fixed-frequency-scheduler frequency="10" timeUnit="SECONDS"/>
			<http:request config-ref="HTTP_Request_Configuration" path="pedvalar/iap/notas/notas.csv" method="GET" doc:name="Copy_of_HTTP"/>
		</poll>
		<object-to-string-transformer doc:name="Copy_of_Object to String"/>
		<dw:transform-message doc:name="Copy_of_CSV to CannonicalForm" metadata:id="11fb123c-9c91-47f7-ae5d-1a5dd080432b">
			<dw:input-payload mimeType="application/csv"/>
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
[{
	actos-evaluacion: [{
		asignatura: payload.asignatura,
		nombre: payload.acto,
		notas: payload.alumno
++ payload.nota
	}]
}]]]></dw:set-payload>
		</dw:transform-message>
		<file:outbound-endpoint path="C:\Proyecto\Transformaciones" outputPattern="#[payload.asignatura].json" responseTimeout="10000" doc:name="Copy_of_File"/>
	</flow>
	<flow name="HTTP-to-CF" initialState="stopped">
		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="10" timeUnit="SECONDS"/>
			<http:request config-ref="HTTP_Request_Configuration" path="pedvalar/iap/notas/" method="GET" doc:name="HTTP"/>

		</poll>
		<object-to-string-transformer doc:name="Object to String"/>

		<choice doc:name="Choice">

			<when expression="#[attributes.headers['Content-Type'] == 'text/csv']">
				<dw:transform-message doc:name="CSV to CannonicalForm" metadata:id="11fb123c-9c91-47f7-ae5d-1a5dd080432b">
					<dw:input-payload mimeType="application/csv"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
[{
	actos-evaluacion: [{
		asignatura: payload.asignatura,
		nombre: payload.acto,
		notas: payload.alumno++ payload.nota
	}]
}]]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<when expression="#[attributes.headers['Content-Type'] == 'application/xml']">
				<dw:transform-message doc:name="XML to CannonicalForm" metadata:id="103ad898-d4e5-4741-930e-3682dd34bd66">
					<dw:input-payload mimeType="application/xml"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	actos-evaluacion: payload.notas.*actoEvaluacion map ((actoEvaluacion , indexOfActoEvaluacion) -> {
		asignatura: actoEvaluacion.asignatura,
		nombre: actoEvaluacion.nombre,
		notas: actoEvaluacion.alumno.@dni
++ actoEvaluacion.alumno
	})
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<otherwise>
				<file:outbound-endpoint path="C:\Proyecto\Transformaciones" outputPattern="#[payload.asignatura].json" responseTimeout="10000" doc:name="File"/>
			</otherwise>
		</choice>
		<file:outbound-endpoint responseTimeout="10000" doc:name="File" outputPattern="#[payload.asignatura].json" path="C:\Proyecto\Transformaciones"/>
	</flow>
	<flow name="CF-to-DB" initialState="stopped">
		<file:inbound-endpoint responseTimeout="10000" doc:name="File"/>
		<file:file-to-string-transformer doc:name="File to String"/>
		<expression-transformer doc:name="Expression"/>
		<db:no-operation-selected config-ref="" doc:name="Database"/>
	</flow>
	<flow name="File-to-CF" initialState="stopped">
		<file:inbound-endpoint responseTimeout="10000" doc:name="File"/>
		<file:file-to-string-transformer doc:name="File to String"/>
		<custom-transformer class="" doc:name="Java"/>
		<file:outbound-endpoint responseTimeout="10000" doc:name="File"/>
	</flow>
</mule>
